body {
    font-family: Inter, -system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
    line-height: 1.625;
}

header {
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

header a {
	text-decoration: none;
	color: inherit;
}

main {
    width: 90vw;
    margin: 0 auto;
}

.card {
    border-radius: 0.75rem;
    background: #FEF7FF;
}

.card img {
    width: 100%;
	border-radius: .75rem .75rem 0 0;
}

.card_content {
    margin-top: .75rem;
    padding-bottom: .75rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}

.card-container {
    text-decoration: none;
}

.payment-card {
    border-radius: 12px;
    display: flex;
    background-color: #FEF7FF;
    flex-direction: row;
    padding: 16px;
    margin-bottom: 1rem;
}

.payment-card__content {
    flex: 1;
}

.payment-card__content * {
    display: block;
}

button, .payment-card__button {
    border-radius: 100px;
    background-color: #6750A4;
    border: none;
    color: white;
    padding: 10px 24px;
    font-weight: 500;
    font-family: inherit;
    font-size: 1rem;
    text-decoration: none;
    height: min-content;
    display: inline-block;
}

button:disabled, .payment-card__button:disabled {
    background-color: #1D1B201F;
    color: #1D1B20;
}

.payment-students {
	list-style: none;
	padding-left: 0;
}

.payment-students li {
	background-color: #fef7ff;
	margin: .75rem 0;
	padding: .5rem 1rem;
	border-radius: 12px;
	border: 1px solid #cac4d0;
}

.payment-students a {
	color: black;
	text-decoration: none;
}

dialog button {
	width: 100%;
	margin-bottom: 1rem;
}

dialog button:last-of-type {
	margin-bottom: 0;
}

dialog header {
	font-weight: bold;
	font-size: 1.5rem;
}

dialog {
	border-radius: 1.75rem;
	background: #ECE6F0;
	border: none;
	padding: 1.5rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.not-primary {
	background: #E8DEF8;
	color: #1D192B;
}

#new_payment {
    margin-bottom: 1rem;
}

input {
    display: block;
    border-radius: 4px;
    border: 1px solid #79747E;
    padding: 8px 0 8px 16px;
    width: 85vw;
    margin-bottom: 1rem;
	font-family: inherit;
}

.message {
	border-radius: .75rem;
	background-color: #fef7ff;
	padding: 1rem;
	margin-bottom: 1rem;
}

.message header {
	text-align: left;
	margin-bottom: 0;
}

.announcement header {
	font-size: 1.5rem;
	font-weight: bold;
}

.message p {
	font-size: 1.25rem;
}

.message_answer {
	border-radius: 0.75rem;
	border: 1px solid #CAC4D0;
	padding: .5rem;
	font-weight: 500;
}

.message_answer span {
	font-size: 1.25rem;
}

#question {
	width: 100%;
}

.message_container {
	color: inherit;
	text-decoration: none;
}

.announcement-image {
	width: 100%;
}

.appver {
	text-align: center;
	color: #CCC2DC;
}

textarea {
	border: none;
	font-family: inherit;
	border-radius: 9px;
	padding: 1rem;
	box-sizing: border-box;
	width: 86vw;
	display: block;
}

@media (min-width: 768px) {
	.card {
		width: 23%;
		display: inline-block;
	}
	.announcement-image {
		width: 25vw;
	}

	.card-container {
		margin-right: 1rem;
	}

	.card {
		margin-bottom: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #141218;
		color: white;
	}

	a {
		color: lightblue;
	}

	button, .payment-card__button {
		background-color: #D0BCFF;
		color: #381E72;
	}

	.card, .payment-card, .message {
		background-color: #322F35;
	}

	.card_content {
		color: white;
	}

	.payment-students li {
		background-color: #322F35;
		border: 1px solid #4A4458;
	}

	.payment-students a {
		color: white;
	}

	textarea, input {
		background-color: #322F35;
		border: 1px solid #4A4458;
		color: white;
	}
}

/* Fonts */

/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v13-latin-ext-regular.woff2") format("woff2");
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/inter-v13-latin-ext-500.woff2") format("woff2");
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/inter-v13-latin-ext-600.woff2") format("woff2");
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter-v13-latin-ext-700.woff2") format("woff2");
}
